<%= link_to '投稿一覧', posts_path %>
<%= link_to '編集', edit_post_path(@post)%>

    <p><%= @post.name %></p>
    <p><%= @post.category %></p>

    <h2>コメント一覧</h2>
<% @comments.each do |c| %>
    <a href="/users/<%= @post.user.id %>"><%= c.user.email %></a>
    <%= c.content %>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>

<%= link_to "ホームへ戻る", posts_path %>
